<h1>New Application</h1>

<% if @application.errors.any? %>
  <h2>The following errors prevented the application from being saved</h2>
  <ul>
    <% @application.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with url: '/applications', local: true, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Enter Full name' %>
  <%= f.label :street_address %>
  <%= f.text_field :street_address, placeholder: "1234 Main St." %>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :state %>
  <%= f.text_field :state %>
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit 'Submit' %>
<% end %>
